 body{
    background-image:url("../images/pic.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    max-width:100%;
    height:auto;
    background-attachment:fixed;
    margin:0;
}



.above{
      background-color:green;
      color:yellow;
      text-align:center;
      border:3px white solid;
      border-radius: 40px;
      margin-top:3%;

}


.down{
      margin-top:430px;
      background:grey;
      padding:0.5px;
      border:1px green solid; 
      color:white arial 10px;
      line-height:1.5px;
}


.appear{
      width:330px;
      height:300px;
      background:#0009;
      border:2px yellow solid;
      color:#fff;
      top:55%;
      left:50%;
      position: absolute;
      transform: translate(-50%,-50%);
      box-sizing: border-box;
      padding:30px 30px;
      }




.appear input{
      width:100%;
      margin-bottom:20px;
}

.appear input[type="password"],input[type="email"],input[type="text"],input[type="gender"]{
border:none;
border-bottom:1px solid #fff;
background:transparent;
outline:none;
height:20px;
color:#fff;
line-height: 80px;
}

.bottom{
      padding-top:22px;
}
